/* aldrich-regular - latin */

@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aldrich-v8-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Aldrich Regular'), local('Aldrich-Regular'), url('../fonts/aldrich-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/aldrich-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/aldrich-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/aldrich-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/aldrich-v8-latin-regular.svg#Aldrich') format('svg');
    /* Legacy iOS */
}

body {
    font: 18px 'Aldrich', Arial, sans-serif;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 5px;
}

.me {
    font-size: 20px;
    text-transform: uppercase;
}

.name {
    font-size: 20px;
    letter-spacing: 2px;
}

.role {
    font-size: 18px;
}

.contacts {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    padding-top: 7px;
}

.contacts img {
    vertical-align: -3px;
}

.contacts a {
    margin-left: 25px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.contacts a:hover {
    border-bottom: 1px solid;
}

.phone {
    color: #4bedff;
}

.github {
    color: #fbea00;
}

.email {
    color: #06ad42;
}

.linkedin {
    color: #8b069a;
}

.linkedin img {
    vertical-align: top;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.projects {
    padding: 40px 0;
}

.projects .title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

.project {
    padding: 30px 100px;
    margin: 0 auto 25px;
    text-decoration: none;
    display: block;
}

.project p {
    color: #333;
    line-height: 1.5;
    margin-bottom: 15px;
}

.project img {
    max-width: 100%;
    border-radius: 20px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px #ccc;
}

.project_title {
    color: #df3672;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}

.project_title:hover {
    color: #2ad672;
}

.footer {
    padding: 30px 10px;
    background: #3a077b;
    color: #fff;
    font-size: 18px;
}

.footer .container {
    justify-content: flex-end;
    text-align: right;
}

.footer .resume {
    font-size: 24px;
    padding-bottom: 20px;
}

.resume img {
    max-width: 30px;
    vertical-align: middle;
}

.footer .title {
    font-weight: normal;
    margin-bottom: 20px;
}

.footer a {
    color: #fff;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer svg {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

@media all and (max-width: 980px) {
    .header .container {
        flex-direction: column;
    }
    .contacts a {
        margin: 0 25px 0 0;
    }
}

@media all and (max-width: 710px) {
    .contacts {
        flex-direction: column;
    }
    .project {
        padding: 15px 0;
    }
    .project_title {
        font-size: 18px;
    }
}