footer.main_footer
	.main_footer_top
		.footer_contact_us
			a.contact_link(href="#")
				span.contact_link__underline Contacts
			span.phone +999 99 99 99 #[span.light / Today from 9:00 to 17:00]
		ul.social_links
			li.social_item
				a.social_link.social_link__vk(href="#")
			li.social_item
				a.social_link.social_link__fb(href="#")
			li.social_item
				a.social_link.social_link__twitter(href="#")
	.main_footer_bottom
		.copyright_left © Copyright 2017
		.copyright_right
			span.copyright_text Ogelet 2017