.main_footer_bottom
	background: url("../img/sections/header.jpg") center
	background-size: cover
	padding 95px 45px
	color #fff
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	font 300 16px grotesk
	.copyright_right
		img
			margin-right 10px
.main_footer_top
	padding 0 30px 50px
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
.contact_link
	background url('../img/icons/contact.png') left center no-repeat
	padding 15px 0
.contact_link__underline
	text-transform uppercase
	font 500 20px grotesk
	border-bottom 1px solid #e8e8e8
	padding-bottom 2px
	margin-left 60px
.phone
	padding-top 25px
	display block
	margin-left 25px
	color #000
	font 400 16px grotesk
	.light
		font-weight 300
		color #818184
.social_links
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content flex-end
.social_link
	margin-right 12px
	height 40px
	width 40px
	display block
.social_item:last-child .social_link
	margin-right 0
.social_link__vk
	background url('../img/icons/VK.png') center no-repeat
.social_link__fb
	background url('../img/icons/FACE.png') center no-repeat
.social_link__twitter
	background url('../img/icons/TWIT.png') center no-repeat




