@import 'fonts.css'
*
    margin 0
    padding 0
    font-family 'Abhaya Libre'
    box-sizing border-box
body
    font-size 16px
    background #000000
.wrapper
    min-width 100vw
    min-height 100vh
    background url('../img/climpek.png'), linear-gradient(to bottom right, #1e3c72, #2a5298)
    text-align center
    color #ffffff
    &_game
        padding 100px 80px  50px
        display flex
        justify-content center
        align-content center
        flex-wrap wrap
        display none
        .card
            margin 14px
            width 100px
            height 140px
            border-radius 4px
            position relative
            transform-style preserve-3d
            .card_shirt
                position absolute
                top 0
                bottom 0
                right 0
                left 0
                transform-origin center
                transform rotateY(0deg)
                transition all ease .9s
                z-index 8
                border 6px solid #fff
                backface-visibility hidden
            .card_main
                border 6px solid #fff
                border-radius 4px
                position absolute
                top 0
                right 0
                bottom 0
                left 0
                width 100px
                height 140px
                transform-origin center
                transition all ease .9s
                transform rotateY(-180deg)
                z-index 1
                backface-visibility hidden
            &.rotate
                .card_shirt
                    transform rotateY(180deg)
                    z-index 1
                .card_main
                    transform rotateY(0deg)
                    z-index 8
            &.remove
                -webkit-animation opacityToggle .5s
                animation opacityToggle .5s
    &_after_game
        display none
.card_1
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/1.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/1.jpg') top center no-repeat
        background-size cover
.card_2
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/2.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/2.jpg') top center no-repeat
        background-size cover
.card_3
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/3.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/3.jpg') top center no-repeat 
        background-size cover      
.card_4
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/4.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/4.jpg') top center no-repeat
        background-size cover
.card_5
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/5.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/5.jpg') top center no-repeat
        background-size cover
.card_6
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/6.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/6.jpg') top center no-repeat
        background-size cover
.card_7
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/7.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/7.jpg') top center no-repeat
        background-size cover
.card_8
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/8.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/8.jpg') top center no-repeat
        background-size cover        
.card_9
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/9.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/9.jpg') top center no-repeat
        background-size cover
.card_10
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/10.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/10.jpg') top center no-repeat
        background-size cover
.card_11
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/11.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/11.jpg') top center no-repeat
        background-size cover
.card_12
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/12.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/12.jpg') top center no-repeat
        background-size cover
.card_13
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/13.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/13.jpg') top center no-repeat
        background-size cover
.card_14
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/14.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/14.jpg') top center no-repeat
        background-size cover
.card_15
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/15.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/15.jpg') top center no-repeat
        background-size cover
.card_16
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/16.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/16.jpg') top center no-repeat
        background-size cover
.card_17
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/17.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/17.jpg') top center no-repeat
        background-size cover
.card_18
    .card_shirt_1 + .card_main
        background url('../img/girls_cards/18.jpg') top center no-repeat
        background-size cover
    .card_shirt_2 + .card_main
        background url('../img/boys_cards/18.jpg') top center no-repeat
        background-size cover
.container
    max-width 1000px
    margin 0 auto
    padding 50px 0
.greeting
    padding 5% 10px
.greeting_title
    font-size 65px
    font-weight 800
    color #08a740
    margin-bottom 20px
.title
  text-transform capitalize
  font-size 48px
  font-weight 800
  color #1cd32a
  letter-spacing 2px
  margin 20px 0 30px
.subtitle
  font-size 40px
  margin 20px 0 30px
  letter-spacing 1px
  color #1cd32a
  &__big
    font-size 48px
    font-weight 800
.main_list
  margin 20px 0 25px 15px
  padding 10px 0 0 10px
  li
    margin-bottom 7px
    text-align left
    font-size 22px
.text
  text-align left
  font-size 22px
  margin 10px 0
.profile_form
    padding 50px
    border 1px solid rgba(250,250,250,.3)
    border-radius 2px
.fieldset
    border none
    text-align left
    margin-bottom 20px
    &__center
        text-align center
label
    display inline-block
    width 200px
    font-size 26px
input[type='text'],
input[type='email']
    width calc(100% - 237px)
    display inline-block
    background transparent
    border 1px solid rgba(250,250,250,.3)
    color #ffffff
    height 50px
    font-size 26px
    padding 5px 15px
.card_shirt
    width 100px
    height 140px
    background #cccccc
    border-radius 5px
.card_shirt_1
    background red url('../img/princess.svg') center no-repeat
    background-size contain
.card_shirt_2
    background blue url('../img/car.svg') center no-repeat
    background-size contain
.choose_shirt
    input[type='radio']
        display none
        & +  label
            width 100px
            margin 0 15px
            border 2px solid transparent
            transition all ease .3s
        &:checked + label
            border 2px solid #19ce59
.choose_number
    input[type='radio']
        display none
        & +  label
            margin 0 20px
            font-size 20px
            width 60px
            font-size 28px
            &:before
                content ''
                width 10px
                height 10px
                display inline-block
                background transparent
                border 3px solid #2e5290
                box-shadow 0 0 0 1px #fff
                border-radius 50%
                vertical-align midle
                margin-right 8px
                transition all ease .3s
        &:checked + label:before
            background #ffffff
.btn
    font-size 34px
    padding 8px 50px
    background transparent
    border 2px solid #ffffff
    border-radius 4px
    margin 20px 0
    color #ffffff
    transition all ease .3s
    &:hover
    &:focus
        background #ffffff
        color #1cd32a
.timer
    position absolute
    top 20px
    right 20px
    font-size 40px
    font-weight 800
    color rgb(188, 190, 193)
    letter-spacing 2px
    display none
.score_table
    margin 20px auto
    line-height 1.5
    font-size 32px
    tr
        padding 10px 0
        border-bottom 1px solid #ccc
@-webkit-keyframes opacityToggle
  0%
    opacity 1
  100%
    opacity 0

@keyframes opacityToggle
  0%
    opacity 1
  100%
    opacity 0