body
	margin 0
	padding 0
	text-align center
	font: 400 18px/1.7 'Open Sans Condensed', sans-serif
	color #282828
	background #82747426
h1.main_title
	font-size 120px
	font-weight 700
	line-height 1.7
	margin-bottom 50px
	margin-top 50px
	text-align center
	color #cb287e
	font-family 'Caveat', cursive
h2.main_subtitle
	font-size 60px
	font-weight 300
	text-align center
.portfolio_links
	text-align center
	a
		display block
		color #48093f
		text-decoration underline
		margin-bottom 25px
		font-size 25px
		cursor: pointer
		font-weight 700
		text-transform uppercase
		&:hover, &:focus
			color #cb287e
