h1.main_title Портфолио
.portfolio_links
	a(href="https://ogelet.github.io/portfolio/portfolio1/") викторина на чистом js (пока над ней работаю)
	a(href="https://ogelet.github.io/museum/") пример вёрстки сайта музея (зима 2017)
	a(href="https://ogelet.github.io/") вёрстка сайта не закончена
	a(href="http://www.tisomnoy.ru/") вёрстка сайта студии свадебного танца (весна 2016)
	a(href="http://www.weddance.online/") вёрстка сайта онлайн обучения свадебному танцу (весна 2016)
		2,6